
  <div class="footer">
    <hr>
    <a class="footer-link" href="https://www.linkedin.com/in/sushant-kumar-bb067b128/"><img class="social-icon" src="img/linkedin.png" alt=""></a>
      <a class="footer-link" href="https://www.facebook.com/profile.php?id=100007329757089"><img class="social-icon" src="img/facebook.png" alt=""></a>
      <a class="footer-link" href="https://www.instagram.com/sushant__k__s/"><img class="social-icon" src="img/instagram.png" alt=""></a>
      <p class="copyright">Made with ❤️ by Sushant Kumar.</p>
  </div>


</body>
</html>
