<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title ><%= pageTitle %> </title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Fevicon Icons -->
  <link rel="icon" href="img/favicon.ico">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Advent+Pro|Alegreya+Sans|Indie+Flower&display=swap" rel="stylesheet">

  <!-- Bootstrap javascript library cdn -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/styles.css">

  <body>

  <nav class="navbar navbar-expand-md navbar-light">

    <!-- Logo Image -->

      <a class="navbar-brand" href="/"><img class="logo" src="img/logo.png" alt="Logo"></a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">

          <!-- Home Section -->

          <li class="nav-item active">
            <a  class="nav-link" href="/">HOME</a>
          </li>
          
          <!-- About Section -->
          <li class="nav-item">
            <a class="nav-link" href="/about">ABOUT</a>
          </li>

          <!-- Contact Section -->

          <li class="nav-item">
            <a class="nav-link" href="/contact">CONTACT</a>
          </li>

        </ul>
      </div>
    </nav>

  
