
<%- include ("partials/header"); -%>



<div class="container">
<h1>A journey behind Hello World!</h1>
<p>The journey behind his website started way back, in a village from Bihar. I wasn't bred in fancy education from the start, like the city kids. It took me a long journey, just like anyone in this race, to get the better of the other person.

    And so, hey. This is Sushant. I'm the eldest son of my parents so I've a lot of expectations. But that's also what motivates me. So it isn't too bad, although sometimes it gets onto me.
    
    Having secured the 11th rank in my district back in my secondary exam, I had a dream. A dream to do the best of what is given to me, a dream to excel. Soon I realised that is was the world of programming that attracted me.
    
    It was fun, I mean. Programming is being creative. Its like any art. Just that, at times its more serious.
    
    I was good in art. I loved writing poetry and even had an instagram page on it.
    
    So Poetry and Programming became the two P's of my life. The third P is Battle Royale game on mobile, but let's not go there.
    
    Along with college, I have managed many technical fests, and kept a sheer interest in this diverse world of programming.
    
    Designing websites has been my  strength. I love experimenting and incorporating new things, so when I'm free, I love to sit down and go through codes to see on what I could improvise.
    
    I am pretty confident that I will make the best of what is wanted of me. I am a designer, and websites are my pallete.
    
    Its what I do best.</p>


    <div style="text-align: center;">
        <h2 >My Art Gallery</h2>
        <br><br>
    
    <div class="row">
    
        
            <img class=" col-md-4 gallery" src="img/img1.png" alt="image">
            <img class=" col-md-4 gallery" src="img/img2.png" alt="image">
            <img class=" col-md-4 gallery" src="img/img3.png" alt="image">
            <img class=" col-md-4 gallery" src="img/img4.png" alt="image">
            
            <img class="col-md-4 col-md-4 gallery" src="img/img5.png" alt="image">
            <img class="col-md-4 col-md-4 gallery" src="img/img6.png" alt="image">
    
    
    </div>
    </div>

</div>




    <%- include ("partials/footer"); -%>