
<%- include ("partials/header"); -%>

<script>
    
</script>



<div class="container">
<h1>A journey behind Hello World!</h1>
<p>The journey behind his website started way back, in a village from Bihar. I wasn't bred in fancy education from the start, like the city kids. It took me a long journey, just like anyone in this race, to get the better of the other person.

    And so, hey. This is Sushant. I'm the eldest son of my parents so I've a lot of expectations. But that's also what motivates me. So it isn't too bad, although sometimes it gets onto me.
    
    Having secured the 11th rank in my district back in my secondary exam, I had a dream. A dream to do the best of what is given to me, a dream to excel. Soon I realised that is was the world of programming that attracted me.
    
    It was fun, I mean. Programming is being creative. Its like any art. Just that, at times its more serious.
    
    I was good in art. I loved writing poetry and even had an instagram page on it.
    
    So Poetry and Programming became the two P's of my life. The third P is Battle Royale game on mobile, but let's not go there.
    
    Along with college, I have managed many technical fests, and kept a sheer interest in this diverse world of programming.
    
    Designing websites has been my  strength. I love experimenting and incorporating new things, so when I'm free, I love to sit down and go through codes to see on what I could improvise.
    
    I am pretty confident that I will make the best of what is wanted of me. I am a developer and a designer, and websites are my pallete.
    
    Its what I do best.</p>

    </div>
    <div style="text-align: center;">
        <h2 >My Art Gallery</h2>
        <br><br>
    
    <div class="row">
        <ul class="aboutul">
            <li class="aboutli">
              <a class="abouta" href="#">
                <h2 class="abouth2">Badal Se Gaye Hain</h2>
                <p class="aboutp">Hum bhi wahi hain , Tum bhi wahi ho<br>
                Bas na jane kyon halat badal se gaye hain <br>
                kuch hawaon ke kuch fijaon ke mijaja,thode badal se gaye hain<br>
                teri cahat to hai abhi bhi inn kambakth ankhon ko, <br>bas dil ke armaan thode badal se gaye hain. </p>
              </a>
            </li>
            <li class="aboutli">
                <a class="abouta" href="#">
                  <h2 class="abouth2">Tum Bhi Chale Gaye</h2>
                  <p class="aboutp">Ek ajnabi ki tarah aaye the,<br>ek khawab bann kar chale gaye<br>
                    pehle se hi kam gum mein tha kya,<br> jo or de kar chale gaye</kbd> </p>
                </a>
              </li>
              <li class="aboutli">
                <a class="abouta" href="#">
                  <h2 class="abouth2">Wo Bhi Kya Din The</h2>
                  <p class="aboutp">Wo bhi kya din the,jab message message ka reply minto m aata tha.<br>
                    Ab to itna gair kar diya tune,ki hafte nikal jate hai or tera seen tak nahi aata.</p>
                </a>
              </li>
              <li class="aboutli">
                <a class="abouta" href="#">
                  <h2 class="abouth2">Wo Bhi Kya Din The</h2>
                  <p class="aboutp">Wo bhi kya din the jab teri kadmon ki aahat se tujhe pehchaan lete the,<br>
                    ab to ye haal h, ki tu saamne se nikal jati hai,or aakhein pehchaan nahi pati.</p>
                </a>
              </li>
              <li class="aboutli">
                <a class="abouta" href="#">
                  <h2 class="abouth2">Aakhir Tumse Pyaar Jo Karta Hoon</h2>
                  <p class="aboutp">Tujhe khone ka darr dil pe asa chaya,
                        ki kabhi keh hi nahi paaya ki tumse kitna pyaar karta hoon<br>
                        Kya karoon aakhir tumse pyaar jo karta hoon.</p>
                </a>
              </li>
              <li class="aboutli">
                <a class="abouta" href="#">
                  <h2 class="abouth2">Aakhir Tumse Pyaar Jo Karta Hoon</h2>
                  <p class="aboutp">Na tu kal thi meri na tu aaj hai meri,<br>
                    par na jaye kyon dil mein ek aas liye chalta hoon,<br>
                    aakhir tumse pyaar jo karta hoon.</p>
                </a>
              </li>
                 
          </ul>
    
    </div>
    <a class="btn btn-dark next-page-btn" href="https://www.instagram.com/im__perfect__one/">For more write-up follow me on Instagram</a>


</div>




    <%- include ("partials/footer"); -%>