<%- include ("partials/header"); -%>

<div class="container">
<h1>Compose</h1>

<form action="/compose" method="post">

    <div class="form-group">

        <label for="postHeading">Title</label>
        <input class="form-control" type="text" name="postHeading">
        <label for="postContent">Post</label>
        <textarea class="form-control" name="postContent" cols="100" rows="5"></textarea>

    </div>


    <button class="btn btn-primary" type="submit">Publish</button>

</form>

</div>
<%- include ("partials/footer"); -%>